.banner{
       background-color: rgb(0,162,224);
   margin-top: 2%;
   
   /*text properties*/
   color: #FFFFFF;
   text-decoration: wavy;
   text-transform: capitalize;
   text-shadow: dimgrey;
   text-align: center;

   /*image properties*/
   border-image-width: 3%;
}