.banner{
   background-color: rgb(0,162,224);
   margin-top: 10px;
   
   /*text properties*/
   color: #FFFFFF;
   size: 100px; 
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-transform: uppercase;
   text-align: center;
   padding-top: 20px;
}
    
#earth-face{
    /*image properties*/
   	width: 90%;
	margin: auto;
}
